{% extends "document_download_template.html" %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "macros/error_summary.html" import render_error_summary -%}


{% block per_page_title %}
  {% if form.errors %}Error: {% endif %}Confirm your email address
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ render_error_summary(form) }}

      <h1 class="govuk-heading-l">Confirm your email address</h1>

      <p class="govuk-body">
        For security, we need to confirm the email address the file was sent to before you can download it.
      </p>

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.email_address }}

        {{ govukButton({
          "text": "Continue",
          "type": "submit"
        }) }}
      </form>

      <p class="govuk-body">
        If you have any questions,
        {% if contact_info_type == "link" %}
          <a href="{{ service_contact_info }}" class="govuk-link" rel="noreferrer"> contact {{ service_name }}</a>.
        {% elif contact_info_type == "email" %}
          email <a href="mailto:{{ service_contact_info }}" class="govuk-link">{{ service_contact_info }}</a>.
        {% else %}
          call {{ service_contact_info }}.
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
