{% extends "document_download_template.html" %}

{% from "components/button/macro.njk" import govukButton %}

{% block per_page_title %}
  You have a file to download
{% endblock %}

{% block main_content %}
  <h1 class="govuk-heading-l">You have a file to download</h1>
  <div class="govuk-body">
    <p>
      {{ service_name or '[SERVICE_NAME]'}} sent you a file to download.
    </p>
    <p>
      If you’re not sure why you’ve been sent a file, or you have any questions,
      {% if contact_info_type == "link" %}
        <a href={{ service_contact_info }} class="govuk-link"> contact {{ service_name }}</a>.
      {% elif contact_info_type == "email" %}
        email <a href={{ "mailto:" + service_contact_info }} class="govuk-link">{{service_contact_info}}</a>.
      {% else %}
        call {{ service_contact_info }}.
      {% endif %}
    </p>
    <p>

    {{ govukButton({
      "href": url_for('main.download_document', service_id=service_id, document_id=document_id, key=key),
      "text": "Continue",
      "element": "a",
    }) }}
    </p>
  </div>
{% endblock %}
