{% extends "document_download_template.html" %}

{% block fullwidth_content %}
  <h1 class="heading-large">Download your document</h1>
  <p>You have been sent a document by {{ service_name or '[SERVICE_NAME]'}}</p>
  <p>
    <a href="{{url_for('main.download_document', service_id=service_id, document_id=document_id, key=key)}}" class="button">Continue</a>
  </p>
  <p>
    If you are unsure if this is a genuine communication,
    {% if contact_info_type == "link" %}
      <a href={{ service_contact_info }}> contact {{ service_name }}</a>
    {% elif contact_info_type == "email" %}
      contact {{ service_name }} by emailing <a href={{ "mailto:" + service_contact_info }}>{{service_contact_info}}</a>
    {% else %}
      contact {{ service_name }} at {{ service_contact_info }}
    {% endif %}
    for verification.
  </p>
{% endblock %}
