# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# environment.sh
environment.sh

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.log

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.envrc

# Frontend dependencies and compiled assets
app/assets/stylesheets/govuk_template/.sass-cache/
app/templates/vendor/
.sass-cache/
cache/
node_modules
bower_components
npm-debug.log

# Pytest and Coverall
test_results.xml
application.log.json
app.log.json

environment.sh

