---
applications:
- name: document-download-frontend

  instances: 1
  memory: 512M

  health-check-type: none

  buildpack: python_buildpack
  command: unset GUNICORN_CMD_ARGS; scripts/run_app_paas.sh gunicorn -c gunicorn_config.py application

  {% set hostname={
    "preview": "download.notify.works",
    "staging": "download.staging-notify.works",
    "production": "download.notifications.service.gov.uk"
  }[environment] %}

  routes:
    - route: document-download-frontend-{{ environment }}.cloudapps.digital
    - route: {{ hostname }}

  env:
    ADMIN_BASE_URL: {{ ADMIN_BASE_URL }}
    ADMIN_CLIENT_SECRET: {{ ADMIN_CLIENT_SECRET }}
    API_HOST_NAME: {{ API_HOST_NAME }}


    NOTIFY_APP_NAME: document-download-frontend
    FLASK_APP: application.py
    DOCUMENT_DOWNLOAD_API_HOST_NAME: https://document-download-api-{{ environment }}.cloudapps.digital
    FLASK_ENV: {{ environment }}
    AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
