---
applications:
- name: document-download-frontend

  memory: 512M

  instances: 2

  buildpack: python_buildpack

  {% set hostname={
    "preview": "documents.notify.works",
    "staging": "documents.staging-notify.works",
    "production": "documents.service.gov.uk"
  }[environment] %}

  routes:
    - route: document-download-frontend-{{ environment }}.cloudapps.digital
    - route: {{ hostname }}

  health-check-type: http
  health-check-http-endpoint: '/_status'

  env:
    ADMIN_BASE_URL: {{ ADMIN_BASE_URL }}
    ADMIN_CLIENT_SECRET: {{ ADMIN_CLIENT_SECRET }}
    API_HOST_NAME: {{ API_HOST_NAME }}


    NOTIFY_APP_NAME: document-download-frontend
    FLASK_APP: application.py
    DOCUMENT_DOWNLOAD_API_HOST_NAME: https://{{ hostname }}
    FLASK_ENV: {{ environment }}
    AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
