# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==2.1.1
Flask-WTF==1.0.1

# Should be pinned until a new gunicorn release greater than 20.1.0 comes out. (Due to eventlet v0.33 compatibility issues)
git+https://github.com/benoitc/gunicorn.git@1299ea9e967a61ae2edebe191082fd169b864c64#egg=gunicorn[eventlet]==20.1.0
whitenoise==6.2.0  #manages static assets
werkzeug==2.2.3

notifications-python-client==6.3.0

# PaaS
awscli-cwlogs>=1.4,<1.5

git+https://github.com/alphagov/notifications-utils.git@57.1.0
govuk-frontend-jinja==2.1.0
