# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==3.0.0
Flask-WTF==1.2.1

gunicorn[eventlet]>=21.2.0
whitenoise==6.2.0  #manages static assets
werkzeug==3.0.1

notifications-python-client==8.0.1

# PaaS
awscli-cwlogs>=1.4,<1.5

notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@66.0.0
govuk-frontend-jinja @ git+https://github.com/LandRegistry/govuk-frontend-jinja.git@3a651afb76806a96d0fc2402c95f2dccf8c55899
sentry_sdk[flask]>=1.0.0,<2.0.0
