# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask-WTF==1.2.1

whitenoise==6.2.0  #manages static assets

notifications-python-client==8.0.1

notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@82.1.1
govuk-frontend-jinja==3.1.0
sentry_sdk[flask]>=1.0.0,<2.0.0
