-r requirements.txt

black==22.8.0  # Also update `.pre-commit-config.yaml` if this changes
ruff==0.0.261  # Also update `.pre-commit-config.yaml` if this changes

pytest==7.1.2
pytest-mock==3.8.2
pytest-cov==3.0.0
pytest-env==0.6.2

requests-mock==1.9.3

jinja2-cli[yaml]==0.8.2

beautifulsoup4==4.11.1
freezegun==1.2.2
