{% extends "document_download_template.html" %}
{% block per_page_title %}You are not authorised to see this page{% endblock %}
{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">
      Sorry, there’s a problem with this service
    </h1>
    <p>
      You cannot download your file at the moment.
    </p>
    <p>
      To report this problem, email <a href="mailto:notify-support@digital.cabinet-office.gov.uk">notify-support@digital.cabinet-office.gov.uk</a>.
    </p>
  </div>
{% endblock %}
