{% extends "document_download_template.html" %}
{% block page_title %}Page not found – GOV.UK{% endblock %}
{% block main_content %}
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">
          Page not found
        </h1>
        <p>
          If you typed the web address, check it is correct.
        </p>
        <p>
          If you pasted the web address, check you copied the entire address.
        </p>
        <p>
          If the web address is correct or you selected a link in an email, contact the team that emailed you.
        </p>
      </div>
    </div>
{% endblock %}
