{% extends "document_download_template.html" %}
{% block pageTitle %}Page not found – GOV.UK {% endblock %}
{% block main_content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Page not found
        </h1>
        <div class="govuk-body">
          <p>
            If you selected a link in an email, contact the sender to tell them you cannot download your file.
          </p>
          <p>
            If you typed the web address, check it is correct.
          </p>
          <p>
            If you pasted the web address, check you copied the entire address.
          </p>
        </div>
      </div>
    </div>
{% endblock %}
