{% extends "document_download_template.html" %}
{% block per_page_title %}Cannot access document{% endblock %}
{% block main_content %}
  <p class="govuk-body">
    There have been too many attempts to access this document recently. Please try again in a few minutes.
  </p>
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="{{ go_back_link }}">Go back to {{ page_name }}</a>.
  </p>
  <p class="govuk-body">
    If you’re still not able to access the document, please email <a href="mailto:notify-support@digital.cabinet-office.gov.uk" class="govuk-link">notify-support@digital.cabinet-office.gov.uk</a>.
  </p>
{% endblock %}
