{% extends "document_download_template.html" %}
{% block pageTitle %}Sorry, there’s a problem with the service – GOV.UK{% endblock %}
{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sorry, there’s a problem with this service
      </h1>
      <div class="govuk-body">
        <p>
          You cannot download your file at the moment.
        </p>
        <p>
          Try again later.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
