{% extends "govuk_frontend_jinja/template.html" %}
{% from "components/footer/macro.html" import govukFooterWithoutExternalLinks -%}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ asset_url('images/favicon.ico') }}" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_url('images/govuk-mask-icon.svg') }}" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url('images/govuk-apple-touch-icon-180x180.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ asset_url('images/govuk-apple-touch-icon-167x167.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset_url('images/govuk-apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" href="{{ asset_url('images/govuk-apple-touch-icon.png') }}">
{% endblock %}

{% block head %}
    <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <style>
      .govuk-header__container { border-bottom-color: {{header_colour}} }
  </style>
  {% block meta %}
  <meta name="referrer" content="never">
  {% endblock %}
{% endblock %}

{% set _per_page_title %}
  {% block per_page_title %}Document Download{% endblock %}
{% endset %}

{% block pageTitle %}
  {{ _per_page_title }} – GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    "assetsPath": "/static/images/",
    "homepageUrl": "https://www.gov.uk"
  }) }}
{% endblock %}

{% block bodyStart %}
<script>document.body.className += ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ _per_page_title }}</h1>
      {% block main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooterWithoutExternalLinks({}) }}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script type="text/javascript" src="{{ asset_url('javascripts/main.js') }}"></script>
  <!--<![endif]-->
{% endblock %}
