{% extends "govuk_frontend_jinja/template.html" %}
{% from "components/footer/macro.html" import govukFooterWithoutExternalLinks -%}

{% set cspNonce = request.csp_nonce %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ asset_url('images/favicon.ico') }}">
  <link rel="icon" sizes="any" href="{{ asset_url('images/favicon.svg') }}" type="image/svg+xml">
  <link rel="mask-icon" href="{{ asset_url('images/govuk-icon-mask.svg') }}" color="#0b0c0c">
  <link rel="apple-touch-icon" href="{{ asset_url('images/govuk-icon-180.png') }}">
  <link rel="manifest" href="{{ asset_url('manifest.json') }}">
{% endblock %}

{% block head %}
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <style nonce="{{ cspNonce }}"> 
      .govuk-header__container { border-bottom-color: {{header_colour}} }
  </style>
  {% block meta %}
  <meta name="referrer" content="never">
  {% endblock %}
{% endblock %}

{% set _per_page_title %}
  {% block per_page_title %}Document Download{% endblock %}
{% endset %}

{% block pageTitle %}
  {{ _per_page_title }} – GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    "assetsPath": "/static/images/",
    "homepageUrl": "https://www.gov.uk",
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ _per_page_title }}</h1>
      {% block main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooterWithoutExternalLinks({}) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ asset_url('javascripts/main.js') }}"></script>
{% endblock %}
